[run]
source = strawberry_resources
omit = .venv/**,tests/app/urls.py,strawberry_resources/__main__.py,strawberry_resources/cli/**

[report]
precision = 2
exclude_lines =
    pragma: nocover
    pragma:nocover
    if TYPE_CHECKING:
    @overload
    @abstractmethod
    @abc.abstractmethod
    assert_never
